<?xml version="1.0"?>
<config>
	<id>widget comment-line</id>
	<type>widget</type>
	<category>
		<main>post</main>
		<sub>latest</sub>
	</category>
	<name>
		<en>Comment Line</en>
		<ko>최근 코멘트</ko>
	</name>
	<version>1.0</version>
	<author>X-Team</author>
	<email>philgohelp@gmail.com</email>
	<homepage>http://www.philgo.net</homepage>
	<demo>http://philgo.net</demo>
	<short>
		<en>Displays latest comment.</en>
		<ko>최근코멘트를 표시합니다.</ko>
	</short>
	<detail>
		<en>it displays newly posted comment.</en>
		<ko>최근 코멘트를 표시합니다.</ko>
	</detail>
</config>
